Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
configure
depcomp
install-sh
install
libtool
ltmain.sh
missing
stamp-h1
test-driver
*.o
*.a
*.la
test_*
*.exe
Makefile.am.test
.deps
.libs
*.dll
plugingui/plugingui
plugingui/rcgen
*.lo
test/result_*.xml
test/resampler
test/engine
test/gui
drumgizmo-*.tar.gz
tst