Makefile
Makefile.in
Makefile.mingw32
aclocal.m4
acinclude.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in*
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
install
libtool
ltmain.sh
missing
stamp-h1
compile
config.h.in~
test-driver
INSTALL
*.o
*.a
*.la
*.core
test_*
*.exe
Makefile.am.test
.deps
.libs
*.dll
plugingui/plugingui
plugingui/rcgen
plugingui/resource_data.cc
*.lo
test/result_*.xml
test/resampler
test/engine
test/gui
test/lv2
test/resource
test/audiocache
test/audiocacheeventhandler
test/audiocachefile
test/audiocacheidmanager
test/configfile
test/memchecker
test/randomtest
test/atomictest
test/syncedsettingstest
test/imagecachetest
test/semaphoretest
test/enginetest
test/paintertest
test/drumkitcreatortest
test/dgxmlparsertest
test/bytesizeparsertest
test/notifiertest
test/drumkitparsertest
test/instrumentparsertest
test/dgreftest/dgreftest
test/dgreftest/*.mid
test/dgreftest/*.wav
test/uitests/filebrowsertest
test/uitests/framewidgettest
test/uitests/resizetest
test/uitests/tabwidgettest
drumgizmo-*.tar.gz
tst
vst/Makefile.mingw32
test/*.log
test/*.trs
tools/valgrind_test/*.log
tools/performance_test/*.log
tools/performance_test/*.dat
tools/performance_test/*.png
plugin/vst/pluginterfaces/
plugin/vst/public.sdk/
*~
\#*\#
.\#*
.clang_complete
*.tar.gz
*.zip
*.tgz
*.asc
*.patch
*.log
*.pch
*.gch
cov-int/