[submodule "hugin"]
	path = hugin
	url = git://git.drumgizmo.org/hugin.git
[submodule "plugin/plugingizmo"]
	path = plugin/plugingizmo
	url = git://git.drumgizmo.org/plugingizmo.git
[submodule "plugingui/lodepng"]
	path = plugingui/lodepng
	url = git://git.drumgizmo.org/lodepng.git
	branch = a71964ed5fe4f82a32ac7f8201338900f66e855d
[submodule "getoptpp"]
	path = getoptpp
	url = git://git.drumgizmo.org/getoptpp.git
[submodule "pugl"]
	path = pugl
	url = git://git.drumgizmo.org/pugl.git
[submodule "pugixml"]
	path = pugixml
	url = git://git.drumgizmo.org/pugixml.git
[submodule "zita-resampler"]
	path = zita-resampler
	url = git://git.drumgizmo.org/zita-resampler.git
[submodule "test/uunit"]
	path = test/uunit
	url = git://git.drumgizmo.org/uunit.git
