Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
install
libtool
ltmain.sh
missing
stamp-h1
*.o
*.a
*.la
test_*
*.exe
Makefile.am.test
.deps
.libs